.form-control {
    margin: 15px 0px;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin: 10px 0px 15px;
    color: #333333;
  }
  
  .form-control input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 8px 0px;
  }
  
  .form-control input:focus {
    outline: none;
    border-bottom: 1px solid rgb(9, 61, 93);
  }
  
  .form-control.invalid input {
    border-bottom: 1px solid #ff726f;
  }

  .error {
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    color:red;
  }

  