.form-control {
    margin: 10px 0px;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin: 10px 0px 10px;
    color: #333333;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font: inherit;
    padding: 8px;
  }
  
  .form-control input:focus {
    outline: none;
    background: #f2f2f2;
    border-color: #ccc;
  }
  
  .form-control.invalid input {
    background-color: #FFEDEB;
    border-color: #ff726f;
  }

  .error {
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    color:red;
  }

  