.goal-item {
  background: white;
  cursor: pointer;
  margin: 10px 0px;
  padding: 20px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
 
.goal-item h3{
  color: #FA9A00;
}
  
