.goals {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  width: 100%;
  }

.goal-form {
  width: 600px;
  height: 320px;
  margin: 50px 0px 30px 0px;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color:white;
}

.goal-notice {
  font-size:30px;
  text-align:center;
  color:white;
}