* {
  box-sizing: border-box;
  font-size: 16px;
  color: #383838;
}

html {
  font-family: sans-serif;
}

body {
  background: linear-gradient(0deg, rgb(9, 61, 93), rgb(15, 108, 166));
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}