.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #083D77;
    color: white;
    background: #0d4888;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #155394;
    border-color: #155394;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }
  