.button {
    width:100%;
    font: inherit;
    padding: 10px 50px;
    border: 1px solid #FA9A00;
    background: #FA9A00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: pink;
    color: cyan;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #ffa20b;
    border-color: #ffa20b;
  }
  
  @media only screen and (min-width: 600px) {
    .button {
      width:auto;
    }
  } 