.button {
    width:100%;
    font: inherit;
    padding: 10px 50px;
    border: 1px solid blue;
    background: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0px;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: blue;
    border-color: blue;
  }
  
  @media only screen and (min-width: 600px) {
    .button {
      width:auto;
    }
  } 